.publication {
    margin-top: 2rem;
    border-bottom: 1px solid #aaa;
    margin-bottom: 2rem;
}

.publication details {
    margin: 2rem 0;
}

footer {
    padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .button {
        height: auto;
        max-width: 100%;
        flex-wrap: wrap;
        white-space: normal;
    }
}