.publication {
    margin-top: 2rem;
    border-bottom: 1px solid #aaa;
    margin-bottom: 2rem;
}

#side-info .button {
    margin-bottom: 0.5rem;
}

.publication details {
    margin-bottom: 1rem;
}

.publication .journal {
    font-style: italic;
    margin-bottom: 1rem;
}

.bibcode {
    font-family: monospace;
}

footer {
    padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
    .button {
        height: auto;
        max-width: 100%;
        flex-wrap: wrap;
        white-space: normal;
    }
    .button span {
        max-width: 100%;
        word-wrap: break-word;
    }
}